#Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.packages
build/

#Android
.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/release/
**/android/app/debug/
android/**/build/
*.apk

#iOS
ios/.external_build_artifacts/
ios/DerivedData/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
ios/ServiceDeviceRepo/
**/doc/api/
.DS_Store

#IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

old_proj/
third_party/**/build/
third_party/**/local.properties

#缓存与日志
*.log
.history/